   <!-- <p><%=@results[0] + " " + @results[1]%></p>
            <p><%=@results[2] + " " + @results[3]%></p> -->
            <!-- <p><%=@results[0]%></p> -->



                  <!-- <a href= "https://accounts.spotify.com/authorize/?client_id=<%=ENV['SPOTIFY_CLIENT_ID']%>&response_type=code&redirect_uri=http://still-island-96987.herokuapp.com/users/landing&scope=user-top-read%20playlist-read-private%20playlist-read-collaborative%20user-read-private%20user-read-email">click here to view your top tracks on Spotify.</a><br> -->

                   <a href= "https://accounts.spotify.com/authorize/?client_id=<%=ENV['SPOTIFY_CLIENT_ID']%>&response_type=code&redirect_uri=https://still-island-96987.herokuapp.com/users/landing&scope=user-top-read%20playlist-read-private%20playlist-read-collaborative%20user-read-private%20user-read-email">click here to view your top tracks on Spotify.</a><br><br>